<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Equation Solver</title>
    </head>
    <body>
        <h1>Equation Solver</h1>
        <form action="/solve" method="GET" >
            Enter no. of Rows: <input type="number" name="rows">
            <br>
            Enter no. of Cols: <input type="number" name="cols">
            <textarea name="givenMatrix">

            </textarea>
            <button type="submit">Solve</button>
        </form>


    </body>
</html>